{% extends 'base.html.twig' %}

{% block title %}{{ degree.name }} Degree{% endblock %}

{% block body %}

    <div class="container">

        <br></br>

        <div class="row">

            <h1 class="col-lg-12 text-center">{{ degree.name }} Degree</h1>

        </div>

        <br></br>

        <div class="row">

            <table class="col-lg-12 table-center table-bordered">
                <tbody>
                    {#<tr>
                        <th>Id</th>
                        <td>{{ degree.id }}</td>
                    </tr>#}
                    <tr>
                        <th>Name</th>
                        <td>{{ degree.name }}</td>
                    </tr>
                    <tr>
                        <th style="width:50%;">Capacity</th>
                        <td style="width:50%;">{{ degree.capacity }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <br></br>

        <div class="row">

            <div class="col-lg-12 btn-group d-flex" role="group">

                <a href="{{ path('degree_index') }}" class="btn btn-default btn-outline-secondary btn-sm" role="button" style="width:50%;">Back to Degree list</a>
                <a href="{{ path('degree_edit', {'id': degree.id}) }}" class="btn btn-default btn-outline-secondary btn-sm" role="button" style="width:50%;">Edit</a>

            </div>

            <div class="col-lg-12 btn-group-justified btn-center" style="width:100%;">

                {{ include('admission/degree/_delete_form.html.twig') }}

            </div>

        </div>    

    </div>

{% endblock %}
