{% extends 'base.html.twig' %}

{% block title %}Module {{ module.name }}{% endblock %}

{% block body %}

    

    <div class="container">

        <br></br>

        <div class="row">

            <h1 class="col-lg-12 text-center">Module {{ module.name }}</h1>

        </div>

    </div>

    <br></br>

    <table class="col-lg-12 table-center table-bordered">
        <tbody>
            {#<tr>
                <th>Id</th>
                <td>{{ module.id }}</td>
            </tr>#}
            <tr>
                <th style="width:50%;">Name</th>
                <td style="width:50%;">{{ module.name }}</td>
            </tr>
        </tbody>
    </table>   

  
    <br></br>

    <div class="row">

        <div class="col-lg-12 btn-group d-flex" role="group">

            <a href="{{ path('module_index') }}" class="btn btn-default btn-outline-secondary btn-sm" role="button" style="width:50%;">Back to Modules List</a>
            <a href="{{ path('module_edit', {'id': module.id}) }}" class="btn btn-default btn-outline-secondary btn-sm" role="button" style="width:50%;">Edit</a>

        </div>

        <div class="col-lg-12 btn-group-justified btn-center">
            {{ include('admission/module/_delete_form.html.twig') }}
        </div>

    </div>

    
{% endblock %}
