{% extends 'base.html.twig' %}

{% block title %}Essai{% endblock %}
{% block body %}
   <div class="row">
       <div class="col-6 offset-3">
           <div class="card bg-light">
               <div class="card-body">
                   <h1 class="text-center">Essai</h1>
                   {#{{ form_start(essaiForm) }}
                       {{ form_row(essaiForm.name) }}              
                       
                       {{ form_row(essaiForm.degrees) }}
                       {{ form_row(essaiForm.academicdatas) }}
                       
                       <button class="btn btn-primary btn-block">Continue</button>
                   {{ form_end(essaiForm) }}#}
                   {{form_start(essaiForm)}}
                   {{ form_row(essaiForm.name) }}
                   <button class="btn btn-primary btn-block">Continue</button>
                   {{ form_end(essaiForm)}}
                   {{form_start(essaiForm1)}}
                  {{ form_row(essaiForm1.name) }}
                  {{ form_row(essaiForm1.firstname)}}
                  <button class="btn btn-primary btn-block">Continue</button>
                  {{ form_end(essaiForm1)}}
               </div>
           </div>
       </div>
   </div>
{% endblock %}