



{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.filename }}</td>
                <td>{{ document.typeType }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">show</a>
                    {% if not is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not is_granted('ROLE_ADMIN') %}
    <a href="{{ path('document_new') }}">Create new</a>
    {% endif %}
{% endblock %}
