{% extends 'base.html.twig' %}

{% block title %}Degree index{% endblock %}

    {% block body %}
        <div class="container mt-4">

            <h1>Manage Applications</h1>
            {#<a href="{{ path('application_new') }}" class="btn btn-secondary">Create new degree</a>#}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Capacity</th>
                        <th>Modules</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.id }}</td>
                            <td>{{ application.statusType }}</td>
                            <td>{{ application.student.name }}</td>
                            <td>{{ application.student.firstname }}</td>
                            <td>{{ application.student.user.email }}</td>
                            {#<td><ul class="list-group">
                                {% for module in degree.modules %}
                                    <li class="list-group-item">{{ module.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>#}
                        <td>
                            {#<a href="{{ path('degree_show', {'id': degree.id}) }}" class="btn btn-secondary">show</a>#}
                            <a href="{{ path('application_edit', {'id': application.id}) }}" class="btn btn-secondary">Edit</a>
                            <form method="post" action="{{ path('application_delete', {id: application.id}) }}" style="display: inline-block">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~application.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
