{% extends 'base.html.twig' %}

{% block title %}Degree index{% endblock %}

    {% block body %}
        <div class="container mt-4">

            <h1 class="text-center">Manage Applications</h1>
            {#<a href="{{ path('application_new') }}" class="btn btn-secondary">Create new degree</a>#}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <br></br>

            <table class="table table-hover table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>E-mail</th>
                        <th>Modules</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <td>{{ application.id }}</td>
                            <td>{{ application.statusType }}</td>
                            <td>{{ application.student.name }}</td>
                            <td>{{ application.student.firstname }}</td>
                            <td>{{ application.student.user.email }}</td>
                            <td>

                                <div class="dropdown">

                                    <button class="btn btn-default text-dark dropdown-toggle" type="button" data-toggle="dropdown" style="width:100%;">View Applicant modules<span class="caret"></button>

                                    <ul class="dropdown-menu" role="menu" style="width:100%;"{#class="list-group"#}>
                                        {% for module in application.student.academicdata.modules %}
                                            <li class="list-group-item">{{ module.name }}</li>
                                        {% endfor %}
                                     </ul>

                                </div>
                            </td>
                            <td align="center">

                                <div class="col-lg-12 btn-group d-flex" role="group">

                                    <a href="{{ path('application_edit', {'id': application.id}) }}" class="btn btn-default btn-outline-secondary btn-sm" role="button" style="width:50%;">Edit</a>
                                    <a role="button" style="width:50%;">{{ include('admission/application/_delete_form.html.twig') }}</a>

                                </div>
                            </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
